<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Docker</WebPublishMethod>
    <PublishProvider>FunctionsContainer</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://sql20240824163521.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/92957471-8208-43b4-aab2-054d7674bb0f/resourcegroups/TestGroup/providers/Microsoft.Web/sites/Sql20240824163521</ResourceId>
    <IsLinux>true</IsLinux>
    <ContainerResourceId>/subscriptions/92957471-8208-43b4-aab2-054d7674bb0f/resourcegroups/TestGroup/providers/Microsoft.ContainerRegistry/registries/Sql20240824163700</ContainerResourceId>
    <ContainerResourceName>Sql20240824163700</ContainerResourceName>
    <Subscription>Azure subscription 1</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>sql20240824163700.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
  </PropertyGroup>
</Project>