<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Docker</WebPublishMethod>
    <PublishProvider>FunctionsContainer</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://sql20240901200923.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/92957471-8208-43b4-aab2-054d7674bb0f/resourcegroups/TestRG/providers/Microsoft.Web/sites/Sql20240901200923</ResourceId>
    <IsLinux>true</IsLinux>
    <ContainerResourceId>/subscriptions/92957471-8208-43b4-aab2-054d7674bb0f/resourcegroups/TestRG/providers/Microsoft.ContainerRegistry/registries/Sql20240901201102</ContainerResourceId>
    <ContainerResourceName>Sql20240901201102</ContainerResourceName>
    <Subscription>Azure subscription 1</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>sql20240901201102.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
  </PropertyGroup>
</Project>